src/main/mule/async-flow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="18e3f58f-d83e-48e1-9f28-dacef047f92a" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="c8fd4ed9-9b8c-4878-b287-9b7b5729d260" >
		<db:my-sql-connection host="database-1.c9gjtnsznu5g.us-east-2.rds.amazonaws.com" port="3306" user="admin" password="mypassword" database="companydb" />
	</db:config>
	<flow name="async-flowFlow" doc:id="0f52bb61-6efb-4dcc-8eee-5e5afd21c06b" >
		<http:listener doc:name="Listener" doc:id="eb9cb923-306e-448f-990e-908930380be4" config-ref="HTTP_Listener_config" path="/Asyncflow1"/>
		<logger level="INFO" doc:name="Logger" doc:id="8cac55e9-1e40-4775-82da-ba13e534fd77" message="Request received from Listener"/>
		<db:select doc:name="Select" doc:id="3b3e9f77-d5b7-4e4c-9f01-04b37f0bfc36" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from emp_tbl]]></db:sql>
		</db:select>
		<logger level="INFO" doc:name="Logger" doc:id="c1e5e154-faff-42ed-b957-3569e9e5eb8b" message="Recevied data from database"/>
		<flow-ref doc:name="Flow Reference" doc:id="a0050a68-2099-49ad-93da-4d9ee0e50252" name="async-flowFlow1"/>
		<ee:transform doc:name="Transform Message" doc:id="a8bd7ea0-86c1-4388-a2a9-7b12cc256d34" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="async-flowFlow1" doc:id="bbefafb4-8af5-4d5b-81ae-91d579fdddd1" >
		<async doc:name="Async" doc:id="ebf6a099-0485-4245-9a53-b2abd0561525" >
			<logger level="INFO" doc:name="Logger" doc:id="e18f7c54-bda6-4a9b-806a-d136782aba69" message="Receive request to Async flow"/>
			<ee:transform doc:name="Transform Message" doc:id="8728b739-d925-4304-9f4c-ac87c936ff1b">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			<logger level="INFO" doc:name="Logger" doc:id="7bcc3ddf-3a22-4209-9d05-f9c9d4201a1b" message="#[payload]" />
		</async>
	</flow>
</mule>
